*.{
    box-sizing: border-box;
}
body{   
    background-image: url(bg1.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: Microsoft JhengHei; 
    text-align: center;
}
div{ display: block;}
.container{
    max-width:900px;
    background-color: rgba(255, 179, 179, 0.7); 
}
.video{
    margin: 50px 0px; 
} 
.slogan{
    font-size: 27px;
    font-style: italic;
    animation: 3s light infinite;
}
@keyframes light{
    0%{
        text-shadow:0px 0px 5px blue;
    }
    33%{
         text-shadow:0px 0px 5px red;
    }
    66%{
        text-shadow:0px 0px 5px gold;
    }
    100%{
        text-shadow:0px 0px 5px blue;
    }
}
ul.topList{ 
    list-style: none; 
    display: inline-block;
}
.topList>li{ 
    float: left;
    width: 240px;
    font-size: 1.5em;
    padding: 15px ;
    border-bottom: 1px solid  white; 
}
.toplist>li>a{
    text-decoration: none;
    color: white;
    padding:14px 63px; 
    transition: 0.5s;
} 
li>a:link,li>a:visited{
     background-color: none;
} 
li>a:hover,li>a:active{ 
    cursor: pointer; 
    transition: 0.5s;
    border-radius: 7px;
    background-color: rgba(237, 79, 97, 0.64); 
}

.text{
    font-size: 1.3em; 
    color: #ffffff;
    background-color:#e37676;
    text-align: left;
    line-height: 45px;
    border-radius: 15px;
    margin-top: 55px;
    padding:  20px 50px;
    word-wrap: break-word; 
}
p.conTitle{
    color: #ffffff;
    font-size: 40px;
    margin: 80px 0px;
    font-weight: 800;
}
.col{ 
    height: 260px;
    width: 260px;
    margin:10px 0px ;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(252, 255, 211, 0.51);
}
.col_name{
    display: inline-block;
     background-color:#9a6262;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #3c3c3c;
}
.col_pic>img{
     margin-top:50px;
}
.space{
    height: 5px; 
    overflow: hidden;
    clear: both;
}
.feature_row>h5{
    margin: 30px 0px;
    font-size: 30px; 
    font-weight: 800;
}
.feature_title>p{
    font-size: 20px;
    margin: 20px 0px;
    color: white;
}
.feature_bg{
    background-image:url(feature_bg.png);
}
div.img {
    margin:15px 0px;
}
div.img img {
    border-radius: 8px;
}
.outLink_img img{
    margin-bottom: 25px; 
}
.outlink_text{
    color: #411b22;  
    font-size: 17px;
    margin: 20px 40px;
}

 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }



